body
{
  color: white;
  background: #c0d3ff;
}
span
{
  font-size: 30px;
}
#camera 
{
  border: 2px solid rgb(218, 55, 55);
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}

.heading{
  font-size: 35px;
  border-radius: 20px;
  letter-spacing: 10px;
}
label{
  font-size: 20px;
  border-radius: 10px;
  color: rgb(194, 236, 97);
  background-color: rgb(87, 109, 238);
  padding: 10px;
  border: black 5px solid;
}

#result{
  border: 2px solid rgb(218, 55, 55);
  width: 500px;
  height: 450px; 
}